[build]*

/Sample1/src/bin
/Sample1/src/obj

/Sample1/src/node_modules
/Sample1/src/assets/scripts/[build]*
/Sample1/Sample1.v11.suo
/Sample1/src/Sample1.csproj.user
/Sample1/src/npm-debug.log
/amd-durandal-projects/poc-1.0/.idea
/amd-durandal-projects/poc-1.0/node_modules
/amd-durandal-projects/poc-1.0/bin
/amd-durandal-projects/poc-1.0/public/app/assets/javascripts/AppBoot.js

/amd-durandal-projects/poc-1.0/public/app/assets/javascripts/utils/WebComponent.js
/amd-durandal-projects/poc-1.0/public/app/assets/javascripts/utils/WebComponent.js.map
/amd-durandal-projects/poc-1.0/public/app/assets/javascripts/AppBoot.js.map
/amd-durandal-projects/poc-1.0/public/app/assets/javascripts/salaryassignment/SalaryAssignment.js
/amd-durandal-projects/poc-1.0/public/app/assets/javascripts/salaryassignment/SalaryAssignment.js.map
/amd-durandal-projects/poc-1.0/public/app/assets/javascripts/salaryassignment/main-webc/MainMediator.js
/amd-durandal-projects/poc-1.0/public/app/assets/javascripts/salaryassignment/main-webc/MainMediator.js.map
/amd-durandal-projects/poc-1.0/public/app/assets/javascripts/salaryassignment/main-webc/abc/MainNotifications.js
/amd-durandal-projects/poc-1.0/public/app/assets/javascripts/salaryassignment/main-webc/abc/MainNotifications.js.map
/amd-durandal-projects/poc-1.0/public/app/assets/javascripts/salaryassignment/main-webc/model/MainModelProxy.js
/amd-durandal-projects/poc-1.0/public/app/assets/javascripts/salaryassignment/main-webc/model/MainModelProxy.js.map
/amd-durandal-projects/poc-1.0/public/app/assets/javascripts/salaryassignment/main-webc/viewmodel/MainViewModel.js
/amd-durandal-projects/poc-1.0/public/app/assets/javascripts/salaryassignment/main-webc/viewmodel/MainViewModel.js.map
/amd-durandal-projects/poc-1.0/public/app/assets/javascripts/utils/Domain.js
/amd-durandal-projects/poc-1.0/public/app/assets/javascripts/utils/Domain.js.map
