<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Landing Page</title>
</head>
<body>
<h1>Use the link below:</h1>
<a href="/salaryAssignment?customerId=12&userId=23">Go to salary assignment details</a>
</body>
</html>
